@font-face {
    font-family: "Gotham-narrow";
    src: url(./font/GothamNarrow-Book.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Gotham-narrow";
    src: url(./font/GothamNarrow-Black.otf);
    font-style: bold;
    font-weight: bold;
}
body{
    margin: 0; font-family: gotham-narrow; text-align: center;
}
.container{
    width: 60%; height: auto; border: 4px solid black; border-radius: 20px; margin: 50px auto; text-align: left; padding: 20px 20px;
    display: flex; flex-direction: row; 
}
.container h3{
    font-size: 25px; margin-top: 0; margin-bottom: 2px; width: ;
}
.container p{
    font-size: 17px; margin-top: 0; color: grey; margin-bottom: 20px;
}
#stocks{
    width: 1200px; height: auto; margin: 10px auto; text-align: center;
}
.container .symbol{
    margin: 10px 1px; font-size: 20px; color: grey;
}
.container .price{
    margin: 10px 1px; font-size: 20px;
}
.container button{
    margin: 10px 10px; float: right; width: 90px; height: 30px; background-color: yellow; color: black; border-radius: 10px;
}